@model MyWork.Web.Models.UserInfo
<style>
    div.shadow-box {
        border: 1px solid;
        padding: 10px;
        /*box-shadow: 5px 5px 4px 5px #888888; */
    }
</style>


<div class="form-row">
    <div class="col-md-6 text-left">
        @Html.ActionLink("Home", "Index", "Home", new { }, null) -> User Account
    </div>
    <div class="col-md-6 text-right">
        @Html.ActionLink("Edit Account", "EditProfile", "Home", new { @class = "btn btn-success" }, null)
    </div>
</div>
<hr />
<div class="container">
    <div class="row">
        @*<div class="form-group form-inline">
                @Html.Label("UserId", htmlAttributes: new { @class = "control-label col col-form-label col-md-2" })
                <div class="col-md-3 shadow-box">
                    @Html.DisplayFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>*@

        <div class="row form-inline">
            @Html.Label("UserName", new { @class = "control-label col col-form-label col-md-2" })
            <div class="col-md-3 shadow-box">
                @Html.DisplayFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="row form-inline">
            @Html.Label("FullName", htmlAttributes: new { @class = "control-label col col-form-label col-md-2" })
            <div class="col-md-3 shadow-box">
                @Html.DisplayFor(model => model.UserProfile.FirstName, new { htmlAttributes = new { @class = "form-control" } }),
                @Html.DisplayFor(model => model.UserProfile.LastName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="row form-inline">
            @Html.Label("Email", htmlAttributes: new { @class = "control-label col col-form-label col-md-2" })
            <div class="col-md-3 shadow-box">
                @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="row form-inline">
            @Html.Label("Roles", htmlAttributes: new { @class = "control-label col col-form-label col-md-2" })
            <div class="col-md-3 shadow-box">
                <ul class="list-group">
                    @foreach (var role in Model.Roles)
                    {
                        <li class="list-group-item">@role.RoleName</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
